<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div style="text-align: center;">
        <h1>Projet Flask - DUBOIS Maxence | DECLOITRE Adam</h1>
        <p class="links">
            <a href="https://maxence-dubois.fr/">Mon Portfolio</a>
            <a href="/galerie">Ma Galerie</a>
        </p>
    </div>

    <h2>Présentation</h2>
    <p>Je m'appelle <strong>Maxence Dubois</strong>, j'ai 22 ans et je suis actuellement en 2ᵉ année de DEUST WMI à l’Université du Littoral Côte d’Opale à Calais.</p>
    <p>Passionné par la fusion entre le dessin et le digital, je me spécialise dans la création graphique et le visuel.</p>

    <h2>Compétences</h2>
    <h3>🎨 Design & Création</h3>
    <ul>
        <li>Adobe Photoshop, Illustrator, Canva</li>
    </ul>
    <h3>💻 Développement Web</h3>
    <ul>
        <li>HTML / CSS, PHP, WordPress</li>
    </ul>

    <h2>🎓 Formations</h2>
    <ul>
        <li><strong>DEUST WMI</strong> — ULCO Calais <span class="date">(2024 - 2026)</span></li>
        <li><strong>Licence Pro DIOC</strong> — IUT de Lens <span class="date">(2022 - 2023)</span></li>
        <li><strong>DUT Informatique</strong> — IUT de Lens <span class="date">(2020 - 2022)</span></li>
    </ul>

    <h2>Expérience Professionnelle</h2>
    <p><strong>Stage en Webdesign — Optesite</strong><br>
    <span class="date">Décembre 2025 - Mai 2026</span></p>
    
    <p><strong>Stage en Communication — MDNI</strong><br>
    <span class="date">Février 2025 - Mai 2025</span></p>

    <h2>Loisirs</h2>
    <p>Jeux vidéos 🎮, Anime 💢, Catch 👊, Cinéma 🍿, Musique 🎧</p>

</body>
</html>