<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Galerie d'images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div style="text-align: center;">
        <h1>Projet Flask - DUBOIS Maxence | DECLOITRE Adam</h1>
        <p class="links">
            <a href="/">Accueil</a>
        </p>
    </div>

    <div class="gallery">
        {% for img_name in images %}
            <div class="image-card">
                
                <!-- Image -->
                <img src="{{ url_for('serve_image', filename=img_name) }}" alt="Image">

                <div class="kmeans-controls">
                    
                    <!-- DBSCAN -->
                    <form action="/dbscan" method="POST" style="margin-top: 10px;">
                        <input type="hidden" name="image_path" value="{{ img_name }}">
                        
                        <label>Clusters (k):</label>
                        <input type="number" name="k" value="5" min="1" max="100">
                        
                        <button type="submit" style="display: block; width: 100%; margin-top: 5px;">
                            Segmentation DBScan
                        </button>
                    </form>

                </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>